body {
    font-family: Helvetica, Arial, sans-serif sans-serif;
    background-color: #f1f3f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-container {
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.search-container h1 {
    font-size: 24px;
    color: #202124;
    margin-bottom: 20px;
    text-align: center;
}

#searchTerm {
    width: 90%;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #dadce0;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    position: sticky;
    top: 20px;
    background-color: white;
    z-index: 100;
}

#searchTerm:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#results {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#results li {
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#results li:hover {
    background-color: #e8f0fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#results li .term {
    font-size: 18px;
    font-weight: bold;
    color: #202124;
    display: inline; 
}

#results li .easyTerm {
    font-size: 18px;
    font-weight: bold;
    color: #1a73e8; /* 파란색 */
    display: inline; 
}

#results li .meaning {
    width: 100%;    /* 이미지 크기를 배경의 50%에 맞추기 위해 부모 크기 설정*/
    height: 100%;   /* 이미지 크기를 배경의 50%에 맞추기 위해 부모 크기 설정*/
    font-size: 16px;
    color: #5f6368;
    margin-top: 5px;
    line-height: 150%;
}

.meaning img {
    display: block;
    width: 50%;    /* 이미지 자체 크기의 50%가 아니라 부모의 50% 크기로*/
    height: auto;
}

#loadingMessage {
    font-size: 16px;
    color: #202124;
    text-align: center;
    margin-top: 20px;
}

#copyright {
    position: absolute;
    bottom: 0rem;
    max-width: 600px;
    color: #686869;
    border-top: 1px solid #686869;
    padding-top: 5px;
    font-size: small;
}

#copyright > a > b {
    color: blue;
}

.references {
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.references h1 {
    font-size: 24px;
    color: #202124;
    margin-bottom: 20px;
    text-align: center;
}

.references li {
    line-height: 200%;
}